.card-component {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 25px;
    color: white;

    /* Use flexbox to center the card horizontally and vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Use relative units for width and margin */
    width: 80%;
    max-width: 600px; /* Set a maximum width for larger screens */
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .card-component {
        /* Reduce the padding and margin for smaller screens */
        padding: 15px;
        margin-top: 3em;
    }
}
  
.weather-condition {
    display: block;
    text-align: center;
}

.weather-condition img {
    width: 50px;
    height: 50px;
}
