html,
body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.bg {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}

.form-container {
    /* Use flexbox to align the input and button horizontally */
    display: flex;
    align-items: center;
}

.form {
  border: none;
  border-bottom: 2px solid aqua;
  height: 25px;
  width: 150px;
  background-color: transparent;
  color: white;
  padding: 5px;
}

.form::placeholder {
  color: white;
}

.form:hover,
.form:focus {
  border-color: gray;
}


.search-button {
  padding: 5px 10px;
  background-color: deepskyblue;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.search-button:hover {
  background-color: blue;
}
